html, body {
    margin: 0;
    padding: 0;
}
.topbar{
	width: 100%;
	background: #f4f4f4;
	text-align: center;
	overflow: hidden;
	height: 24px;
}
.logbar{
	height: 40px;
	background-color: #ffff;

}
.logbar a{
	display: inline-block;
	margin: 10px;
	text-align: center;
}
.topbar p{
	display: inline;
	font-size: small;
}
.gauche{
	float: left;
	margin-right: 10px;
}
.droite{
	float: right;
}
.fab{
	color: #005587;
}
.fas{
	color: #005587;
}
.resize{
	    width:25px;
    height:15px;
    text-align: center;
}
nav{text-align: center;
}
.menu{
	background-color: #005587 ;
	height: 75px;
	text-align: center;

}
.menu a {
	display: inline-block;
	margin: 20px;

}

.redimlogo{
	width: 150px;
	height: 35px;
		
}
.menuelmt{
	text-transform: uppercase;
	color: white;
	float: left;
    letter-spacing: 1.5px;
	text-decoration: none;
	padding-top: 10px;

}
.menuelmxeul{
	text-transform: uppercase;
	color: white;
	float: left;
    letter-spacing: 1.5px;
}
.redim-img{
	text-align: center;
	margin-top: 50px;
}
.back{
	min-height: 420px;
	background-size: cover;
	background-position: center ;
	background-image: url("img/img1.png");
    background-attachment: fixed;
}